name: Twitter Bot

on:
  schedule:
    - cron: "*/30 * * * *"  # A cada 30 minutos
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tweet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.local/lib/python3.11/site-packages
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends ffmpeg

      - name: Create certificate
        run: |
          mkdir -p certs
          echo "$BRD_CERT" > certs/brd_cert.pem

      - name: Run Twitter Bot
        env:
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
          BEARER_TOKEN: ${{ secrets.BEARER_TOKEN }}
          OAUTH2_CLIENT_SECRET: ${{ secrets.OAUTH2_CLIENT_SECRET }}
          OAUTH2_CLIENT_ID: ${{ secrets.OAUTH2_CLIENT_ID }}
          BRD_USERNAME: ${{ secrets.BRD_USERNAME }}
          BRD_PASSWORD: ${{ secrets.BRD_PASSWORD }}
          BRD_HOST: ${{ secrets.BRD_HOST }}
          BRD_PORT: ${{ secrets.BRD_PORT }}
          BRD_CERT: ${{ secrets.BRD_CERT }}
        timeout-minutes: 10
        run: python main.py

      - name: Commit updated database
        if: always()
        env:
          GH_PAT: ${{ secrets.OWXBot }}
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'actions@github.com'
          git add -f seen_posts.db
          git commit -m "Update seen_posts.db [skip ci]" || echo "No DB changes"
          git push https://x-access-token:${GH_PAT}@github.com/${{ github.repository }}.git HEAD:main
          
      - name: Upload log (DEBUG)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: twitter-bot-log-${{ github.run_id }}
          path: twitter_bot.log
          retention-days: 3

concurrency:
  group: workflow-${{ github.ref }}
  cancel-in-progress: true