name: Twitter Bot

on:
  schedule:
    - cron: "*/30 * * * *"  # Runs every 30 minutes
  workflow_dispatch:  # Allows manual execution

permissions:
  contents: write  # Allows the workflow to push to repository

jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install praw
          pip install --upgrade tweepy==4.16.0

      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Run Twitter Bot
        env:
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
          BEARER_TOKEN: ${{ secrets.BEARER_TOKEN }}
          OAUTH2_CLIENT_SECRET: ${{ secrets.OAUTH2_CLIENT_SECRET }}
          OAUTH2_CLIENT_ID: ${{ secrets.OAUTH2_CLIENT_ID }}
          USER_AGENT: ${{ secrets.USER_AGENT }}
          PASSWORD: ${{ secrets.PASSWORD }}
          USERNAME: ${{ secrets.USERNAME }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
        run: |
          python main.py

      - name: Commit database and logs
        env:
          GH_PAT: ${{ secrets.OWXBot }}
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'

          # Configure authentication with PAT
          git remote set-url origin https://x-access-token:${GH_PAT}@github.com/${{ github.repository }}.git

          # Ensure files exist
          touch seen_posts.db twitter_bot.log

          # Check for changes before committing
          if git diff --quiet --exit-code seen_posts.db twitter_bot.log; then
            echo "No changes to commit"
          else
            git add seen_posts.db twitter_bot.log*
            git commit -m "Update database and logs"
            git push origin HEAD:main
          fi

concurrency:
  group: workflow-${{ github.ref }}
  cancel-in-progress: true